<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @difficulty_level.name %>
</p>

<%= link_to 'Edit', edit_difficulty_level_path(@difficulty_level) %> |
<%= link_to 'Back', difficulty_levels_path %>
