<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box col-sm-6 col-md-6 col-lg-6">
        <div class="box-header">
          <h3 class="box-title">Editando Pago</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form' %>
        </div>
        <%= link_to 'Volver', order_path(@order, :anchor => 'pagos') %>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>