<script type="text/javascript">
  alert("Importante : Si al cambiar el nombre de un item ya existe en sistema estos se van a fusionar, quedando solo uno en sistema con todas las preguntas asociadas.")
</script>

<section class="content">
  <div class="row">
    <div class="col-xs-6">
      <div class="box col-sm-6 col-md-6 col-lg-6">
        <div class="box-header">
          <h3 class="box-title">Editando Remedial</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form' %>
          <%= link_to 'Volver', advices_path %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>