// Place all the styles related to the Instruments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}

ol.decimal {
}

ol.alpha {
    counter-reset: alpha
}
ol.alpha li {
    list-style: none;
    position: relative;
}

ol.alpha > li:before {
    counter-increment: alpha;
    content: counter(alpha, upper-alpha)") "
}

.alternative {
	padding-left: 20px;

	&.correct {
		margin-top: -17px;
	}

	&.false {
		margin-top: -27px;
	}
}