<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" lang="pt-br">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
      body{
      font-family: "Arial";
        font-size: 12pt;
      
      }
    </style>
  </head>
  <body style="margin-top: 0px; color:#bdbdbd; font-size:70%; font-weight: bold;" >
    <table width='100%'>
      <tr>
        <td align="left">REIMAGINA</td><td align="right">PRUEBA <%= @instrument.evaluation.evaluation_type.nombre.mb_chars.upcase.to_s %></td>
      </tr>
      <tr><td colspan="2" style="border-bottom: 1px solid #000; border-color:#bdbdbd; margin:0;"></td></tr>
      
    </table>
  </body>
</html>