<section class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Instrucciones</h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <ol type =1>
        <li><p> <i class="fa fa-eye" aria-hidden="true"></i> Ver evaluación </p></li>
        <li><p> <i class="fa fa-pencil" aria-hidden="true"></i> Editar evaluación </p></li>
        <li><p> <i class="fa fa-download" aria-hidden="true"></i> Descargar evaluación </p></li>
        <li><p> <i class="fa fa-check" aria-hidden="true"></i> Ver pauta de respuestas </p></li>
        <li><p> <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar evaluación </p></li>
        <li><p> <i class="fa fa-grid" aria-hidden="true"></i> Edición masiva  </p></li>
        <li><p> <i class="fa fa-refresh" aria-hidden="true"></i> Actualizar remediales</p></li>
        <li><p> <i class="fa fa-info-circle" aria-hidden="true"></i> Descargar guía en PDF </p></li>
      </ol>   

    </div>

      
    <!-- /.box-body -->
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="box col-sm-12 col-md-12 col-lg-12">
        <div class="box-header">
          <h3 class="box-title">Evaluaciones</h3>
        </div>
        <!-- /.box-header -->
        <div id="mass-input">
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example2_wrapper">
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <table id='instruments-table' class="table table-bordered table-hover dataTable" data-source='<%= instruments_path(format: :json) %>'>
                    <thead>
                      <tr>
                        <th>Año<br /></th>
                        <th>Tipo <br /></th>
                         <th>Nombre <br /></th>
                        <th>Asignatura <br /></th>
                        <th>Nivel <br /></th>
                        <th>Opciones <br /></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row"></div>
              <div class="col-sm-7"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>